{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}foodmarks: {% if add %}Add Recipe{% else %}Edit {{recipe.title}}{% endif %}{% endblock %}

{% block content %}
{% spaceless %}
{% if not hide_page_header %}<h2>{% if add %}Add Recipe{% else %}Edit <a href="{% url 'view_recipe' recipe.id %}">{{recipe.title}}</a>{% endif %}</h2>{% endif %}
<p>{{message}}</p>
<form id="mainform" name="mainform" action="./" method="post">
  {% csrf_token %}
  {{recipe_form.non_field_errors}}
  {{ribbon_form.non_field_errors}}
  <input type="hidden" name="recipe-id" value="{{recipe_form.instance.id|default:''}}" />
  <div class="row">
    <div class="col">
      {{recipe_form|crispy}}
      {% if user.is_staff %}
      <label>Add ribbon as:</label>
      <select name="user">
        {% for user in users %}
        <option value="{{user.id}}" {% if user.id == user_id %}SELECTED{% endif %}>{{user}}</option>
        {% endfor %}
      </select>
      {% endif %}
    </div>
    <div class="col">
      {{ribbon_form|crispy}}
      <div id="edit-tags">
        <h3>Tags</h3>
        <input id="current-tags" name="tags" type="text" value="{{ tags }}" />
      </div>
      <input id="save-recipe" type="submit" value="Save Recipe" />
    </div>
  </div>
</form>
{% endspaceless %}
{% endblock %}

{% block js %}
<script type="text/javascript">

  $(document).ready(function(){
    $('textarea').focusin(function(){
        $(this).animate({height: 120}, 100);
      }).focusout(function() {
        $(this).animate({height: 40}, 100);
      }).trigger('focusout');

    var allTags = {{ all_tags|safe }};
    var processedTags = _.map(allTags, function(tag) {return {text: tag, value: tag};});

    $("#current-tags").selectize({
      create: true,
      delimiter: ',',
      options: processedTags,
      closeAfterSelect: true
    })

  });
</script>
{% endblock %}
