{% extends "base.html" %}

{% block title %}foodmarks: Search Recipes{% endblock %}

{% block content %}
{% spaceless %}
<h2>Search Recipes</h2>

<div class="row">
  <div class="col">
    <form id="searchform" name="searchform" action="{% url 'search_recipes' %}" method="get">
      <input id="page" name="page" type="hidden" value="" />
      <div class="form-group">
        <input id="search-recipe-input" name="q" type="text" value="{{ query }}" />
      </div>
      <div class="row" {% if not request.user.is_authenticated %}style="display: none;"{% endif %}>
        <div class="col">
          <div class="form-check" >
            <label class="form-check-label">
              <input class="form-check-input" name="all" type="checkbox" value="all" {% if not own_ribbons %}CHECKED{% endif %} />
              Include Others' Recipes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" name="recipebox" type="checkbox" {% if recipe_box %}CHECKED{% endif %}/>
              My Recipe Box
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-check" >
            <label class="form-check-label">
              <input class="form-check-input" name="thumbsup" type="checkbox" {% if thumbs_up %}CHECKED{% endif %} />
              Only my thumbs up
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" name="used" type="checkbox" {% if used %}CHECKED{% endif %}/>
              Only recipes I have used
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    {% if own_ribbons %}
    {% include "ribbons.html" with empty_template="includes/empty_ribbon_search.html"  %}
    {% else %}
    {% include "recipe_list.html" with empty_template="includes/empty_recipe_search.html" %}
    {% endif %}

    {% if page != 'all' %}
    <div id="pagination">
      {% if page != 1 %}
      <a href="#" page="{{page|add:'-1'}}">Prev</a>&nbsp;
      {% endif %}
      {% for p in page_range %}
      {% if p == page %}<span>{{p}}</span>&nbsp;
      {% else %}<a href="#" page="{{p}}">{{p}}</a>&nbsp;{% endif %}
      {% endfor %}
      {% if page != num_pages and num_pages != 0 %}
      <a href="#" page="{{page|add:'1'}}">Next</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block js %}
<script type="text/javascript">
  function submitForm(){
    $('#page').val('');
    $('#searchform').submit();
    return false;
  }

  $(document).ready(function(){
      var tags = {{ search_tags_json|safe }};
      _.forEach(tags, function(tag) {
        tag.text = tag.value + ' (' + tag.count + ')';
      });

    $("#search-recipe-input").selectize({
      create: true,
      delimiter: ',',
      options: tags,
      closeAfterSelect: true
    }).change(submitForm);
    $('.form-check-input').change(submitForm);

    $('#pagination a').click(function(){
      $('#page').val($(this).attr('page'));
      $('#searchform').submit();
      return false;
      });

  });
</script>
{% endblock %}
