{% extends "base.html" %}

{% block title %}foodmarks: Search Recipes{% endblock %}

{% block content %}
{% spaceless %}
<h2>Search Recipes</h2>

<div class="row">
  <div class="col">
    <form id="searchform" name="searchform" action="{% url 'search_recipes' %}" method="get">
      <input id="page" name="page" type="hidden" value="" />
      <div class="form-group">
        <input id="query-string" class="form-control" name="q" type="text" value="{{q}}" placeholder="Enter a Search Term" />
      </div>
      <div class="form-group">
        <select multiple="multiple" class="chzn-select" name="tag" data-placeholder="Select a Tag">
          {% for tag in search_tags %}
          <option {% if tag.selected %}selected{% endif %} value="{{tag.key}}:{{tag.value}}">{{tag.value}} ({{tag.count}})</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-check" {% if not request.user.is_authenticated %}style="display: none;"{% endif %}>
        <label class="form-check-label">
          <input class="form-check-input" name="all" type="checkbox" value="all" {% if not own_ribbons %}CHECKED{% endif %} />
          Include Others' Recipes
        </label>
      </div>
      <div class="form-check" {% if not request.user.is_authenticated %}style="display: none;"{% endif %}>
        <label class="form-check-label">
          <input class="form-check-input" name="recipebox" type="checkbox" {% if recipe_box %}CHECKED{% endif %}/>
          My Recipe Box
        </label>
      </div>
      <input type="submit" value="Search" class="btn btn-primary" />
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    {% if own_ribbons %}
    {% include "ribbons.html" with empty_template="includes/empty_ribbon_search.html"  %}
    {% else %}
    {% include "recipe_list.html" with empty_template="includes/empty_recipe_search.html" %}
    {% endif %}

    {% if page != 'all' %}
    <div id="pagination">
      {% if page != 1 %}
      <a href="#" page="{{page|add:'-1'}}">Prev</a>&nbsp;
      {% endif %}
      {% for p in page_range %}
      {% if p == page %}<span>{{p}}</span>&nbsp;
      {% else %}<a href="#" page="{{p}}">{{p}}</a>&nbsp;{% endif %}
      {% endfor %}
      {% if page != num_pages and num_pages != 0 %}
      <a href="#" page="{{page|add:'1'}}">Next</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  function submitForm(){
    $('#page').val('');
    $('#searchform').submit();
    return false;
  }


  $(document).ready(function(){

    $(".chzn-select").chosen().change(submitForm);
    $('.form-check-input').change(submitForm);

    $('#pagination a').click(function(){
      $('#page').val($(this).attr('page'));
      $('#searchform').submit();
      return false;
      });

  });
</script>
{% endblock %}
